/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

* {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

textarea, input[type=text], .selectable,  .selectable * {
  -webkit-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  user-select: text;
  cursor:text;
}

body {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}

main {
	flex: 1 0 auto;
}

a {cursor: pointer;}

.bold { font-weight: bold; }
.large-text { font-size: 16px; }
.center-text { text-align: center; }

.nomarg { margin: 0 !important; }

.row.larger {
  margin-left: -0.75rem !important; 
  margin-right: -0.75rem !important; 
}

.btn-pad { margin: 8px; }
.pad { padding: 15px; }
.pad-10 { padding: 10px; }
table.pad th, table.pad td { padding: 15px; }
table.nopad th, table.nopad td { padding: 0; }

.clearfix:before,
.clearfix:after {
display: table;
content: " ";
}

.clearfix:after {
clear: both;
}

span.badge.navitem {
  min-width: 24px;
  padding: 0 6px;
  margin-left: 6px;
}

span.badge.inline {
  margin:2px  0;
  float:none;
  padding: 2px 4px 24px;
  border-radius:2px;
  display: inline-block;
  text-align: left;
  font-size: 16px;
  width: 84px;
}
.brand-logo i {
  transition:0.1s;
}





.switch.red {
  background-color: transparent !important;
}
.switch.red label input[type=checkbox]:checked + .lever {
  background-color: #ef9a9a;
}
.switch.red label input[type=checkbox]:checked + .lever:after {
  background-color: #b71c1c;
}
 
.switch.red label .lever {
  content: "";
  display: inline-block;
  position: relative;
  width: 36px;
  height: 14px;
  background-color: rgba(0,0,0,0.38);
  border-radius: 15px;
  margin-right: 10px;
  -webkit-transition: background 0.3s ease;
  transition: background 0.3s ease;
  vertical-align: middle;
  margin: 0 16px;
}
 
 
.switch.red input[type=checkbox]:checked:not(:disabled) ~ .lever:active::before,
.switch.red input[type=checkbox]:checked:not(:disabled).tabbed:focus ~ .lever::before {
  -webkit-transform: scale(2.4);
          transform: scale(2.4);
  background-color: rgba(239, 154, 154, 0.4);
}

.card.listener .belt {
  position: absolute;
  top:0;
  left:0;
  width:100%;
  height:12px;
  background-color: #ffffff;
  background-image: url(/static/img/mask.png);
  background-repeat: repeat;
  background-size: 24px;
  background-position: -12px -12px;
}

.card.listener.off .belt {
  background-image: none !important;
  background-color: transparent !important;
}

.card.listener .card-content {
  padding-top: 16px;
}

.card.listener .card-content .clearfix {
  margin-bottom: -8px;
}

#listener .colorselect ul {
  max-height:320px;
}

#listener .colorselect li .rect {
  width: 28px;
  height: 28px;
  float: left;
  margin: 12px 14px 0 0;
}

#feed, #logs {
  background-color: black;
  color: white;
  padding-top: 0;
  top: 64px !important;
  height: calc( 100vh - 128px ) !important;
  max-height: none !important;
}
#feed .rel {
  position: relative;
  height: calc( 100vh - 172px ) !important;
}
#logs .rel {
  position: relative;
  height: calc( 100vh - 196px ) !important;
}
#feed .feed,
#logs .feed {
  position: absolute;
  top: 120px;
  bottom:0;
  left:0;
  right:0;
  margin: 16px -35px -45px 0;
  overflow: hidden auto;
  font-size: 12px;
  width: calc( 100% + 24px );
  height: calc( 100% - 92px );
}

#feed .feed {
  margin: -16px -35px -45px 0;
  height: calc( 100% - 60px );
}


#loading {
  display: none;
  position: fixed;
  top:0;
  left:0;
  width: 100vw;
  height:100vw;
  background: #cfd8dccc;
  z-index: 99999999;
}
#loading .preloader-wrapper {
  margin-top: calc( 50vh - 32px );
  margin-left: calc( 50vw - 32px );
}

span.inline-input  {
  padding: 10px 0;
  font-size: 1.15rem;
  display: block;
}

span.inline-input i {
  cursor: help;
}

.settings button { width: 100%; margin: 8px 0 0; }
.settings label { color: #666; }
