/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */
body {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}

main {
	flex: 1 0 auto;
}

.bold { font-weight: bold; }
.large-text { font-size: 16px; }

.btn-pad { margin: 8px; }
.pad { padding: 15px; }
.pad-10 { padding: 10px; }
table.pad th, table.pad td { padding: 15px; }


