<table class="nopad responsive-table">
  <thead>
    <tr>
      <th class="blue-grey-text">Host</th>
      <th class="blue-grey-text" style="text-align:right">IP &nbsp; </th>
      <th class="blue-grey-text">Port</th>
    </tr>
  </thead>
  <tbody>
    {% for c in g.clients %}
      <tr>
        <td style="text-align:left"> {{ c[0] }} </td>
        <td style="text-align:right"> {{ c[1] }} &nbsp; </td>
        <td style="text-align:left"> {{ c[2] }} </td>
      </tr>
    {% endfor %}
  <tbody>
</table>
