
  <div class="modal-content">
      <div class="row">
        <br/>
        <div class="col s12">
          <form method="post" action="/edit_listener/{{ g.l.id }}" id="listener_form">
            <span class="card-title left pad">Edit NMEA Listener</span>
            <div class="right pad-10"></div>
              <button type="submit" class="right btn-floating btn-large waves-effect waves-light teal"><i class="material-icons" style="font-size: 42px">check</i></button>
              <div class="right pad-10"></div>
              <a href="/" class="btn-pad right btn-floating waves-effect waves-light blue-grey"><i class="material-icons" style="font-size: 28px">close</i></a>
              <a onclick="restart('{{ g.l.id }}')" class="btn-pad right btn-floating waves-effect waves-light blue-grey"><i class="material-icons" style="font-size: 28px">replay</i></a>
              <a onclick="kill('{{ g.l.id }}')" class="btn-pad right btn-floating waves-effect waves-light red darken-4"><i class="material-icons" style="font-size: 28px">delete</i></a>
            <div class="card-content">
              <table class="table highlight pad responsive-table">
                <thead>
                  <tr>
                    <th>Name</th>
                    <th>IP</th>
                    <th>Port</th>
                    <th>Color</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>
                      <div class="input-field">
                        <input name="id" value="{{g.l.id}}" type="hidden"/>
                        <input name="name" value="{{g.l.name}}" type="text"/>
                      </div>
                    </td>
                    <td>
                      <div class="input-field" style="width:120px;">
                        <p class="large-text grey-text text-darken-2">{{g.l.listen_address[0]}}</p>
                      </div>
                    </td>
                    <td>
                      <div class="input-field" style="max-width:72px;">
                        <p class="large-text grey-text text-darken-2">{{g.l.listen_address[1]}}</p>
                      </div>
                    </td>
                    <td>
                      <div class="input-field">
                        <select name="color">
                          {% for color in g.colors %} 
                            {% if g.l.color == g.colors[color] %}
                              <option value="{{ g.colors[color] }}" selected> {{ color }} </option>
                            {% else %}
                              <option value="{{ g.colors[color] }}"> {{ color }} </option>
                            {% endif %}
                          {% endfor %}
                        </select>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>

              <br/>

              <table class="table highlight pad responsive-table">
                <thead>
                  <tr>
                    {% for s in g.servers %}
                      <th>{{ s.name }}</th>
                    {% endfor %}
                    <th>Throttle</th>
                    <th>Timeout</th>
                    <th>Accumulate</th>
                    <th>Resilient</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    {% for s in g.servers %}
                      <td>
                        <div class="switch">
                          <label>
                            {% if s in g.l.servers %}
                              <input type="checkbox" checked=true name="server_{{s.id}}">
                            {% else %}
                              <input type="checkbox" name="server_{{s.id}}">
                            {% endif %}
                            <span class="lever"></span>
                          </label>
                        </div>
                      </td>
                    {% endfor %}
                    <td>
                      <div class="input-field">
                        <input name="throttle" step=1 value="{{g.l.throttle}}" type="number"/>
                      </div>
                    </td>
                    <td>
                      <div class="input-field">
                        <input name="timeout" step=1 value="{{g.l.timeout}}" type="number"/>
                      </div>
                    </td>
                    <td>
                      <div class="switch">
                        <label>
                          {% if g.l.accumulate_sentences %}
                            <input type="checkbox" checked=true name="accumulate">
                          {% else %}
                            <input type="checkbox" name="accumulate">
                          {% endif %}
                          <span class="lever"></span>
                        </label>
                      </div>
                    </td>

                    <td>
                      <div class="switch">
                        <label>
                          {% if g.l.resilient %}
                            <input type="checkbox" checked=true name="resilient">
                          {% else %}
                            <input type="checkbox" name="resilient">
                          {% endif %}
                          <span class="lever"></span>
                        </label>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>

              <br/>
              <br/>
            </div>
          </div>
        </form>
      </div>
    </div>

  <script>
    colors = {{ g.colors | safe }};
    $('select').formSelect({classes:"colorselect"});
    $.each($(".colorselect ul li"),function(i,e){
      ctext = $(e).text().trim()
      $(e).prepend("<span class='rect' style='background-color:"+colors[ctext]+";'>&nbsp;</span>")
    })
    function kill(id) {
      $.post("/kill_listener",{id:id},function(data){
        console.log(data)
        if (data == "ack") {
          window.location = "/";
        }
      })
    }

    function restart(id) {
      $.post("/restart_listener",{id:id},function(data){
        if (data == "ack") {
          window.location.reload();
        }
      })
    }
  
  </script>

  {{ g.error | safe }}

