<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
    <title>{{ g.title }}</title>

    <!-- CSS  -->
    <link href="/static/css/material-icons.css" rel="stylesheet">
    <link href="/static/css/materialize.min.css" type="text/css" rel="stylesheet" media="screen,projection"/>
    <link href="/static/css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
    <link rel="icon" href="/static/img/favicon.ico">
  </head>

  <body class="blue-grey lighten-4">
    <div id="loading"> 
			<div class="preloader-wrapper big active">
				<div class="spinner-layer spinner-teal-only">
					<div class="circle-clipper left">
						<div class="circle"></div>
					</div><div class="gap-patch">
						<div class="circle"></div>
					</div><div class="circle-clipper right">
						<div class="circle"></div>
					</div>
				</div>
			</div>
    </div>
    <div id="threads" class="modal"> </div>
    <div id="settings" class="modal" style="max-height:92%; min-width: 400px; width: 35%;"> </div>
    <header>
      <nav class="black" role="navigation">
        <div class="nav-wrapper container">
          <a id="logo-container" href="/" class="bold brand-logo">
            &nbsp; 
            <div style="display: inline-flex; vertical-align: middle;">
              <i class="material-icons" style="color:#B71C1C;font-size: 32px; width:12px; margin:0 7px 0 -8px;">swap_vertical</i>
            </div>
            <small>NMEA<span class="blue-grey-text text-lighten-3">MUXER</span></small>
          </a>
          <ul class="right hide-on-med-and-down">
            <li class="pad" style="padding-top:0;"> 
              <a title="Settings" class="right teal-text" onclick="edit_settings();" style="padding: 0; margin: -20px 10px 0 8px;"><i class="material-icons">settings</i></a>
              <a title="Show logs" class="right grey-text text-darken-2" onclick="show_logs();" style="padding: 0; margin: -20px -4px 0 8px;"><i class="material-icons">dvr</i></a>

              {% if g.clientCount == 0 %}
                <span title="Clients: {{ g.clientCount }}" class="badge navitem red darken-4 white-text">C{{ g.clientCount }}</span>
              {% else %}
                <span title="Clients: {{ g.clientCount }}" class="badge navitem blue-grey white-text">C{{ g.clientCount }}</span>
              {% endif %}

              {% if g.listenerCount == 0 %}
                <span title="Listeners: {{ g.listenerCount }}" class="badge navitem red darken-4 white-text">L{{ g.listenerCount }}</span>
              {% else %}
                <span title="Listeners: {{ g.listenerCount }}" class="badge navitem blue-grey white-text">L{{ g.listenerCount }}</span>
              {% endif %}

              {% if g.talkerCount == 0 %}
                <span title="Talkers: {{ g.talkerCount }}" class="badge navitem red darken-4 white-text">S{{ g.talkerCount }}</span>
              {% else %}
                <span title="Talkers: {{ g.talkerCount }}" class="badge navitem blue-grey white-text">S{{ g.talkerCount }}</span>
              {% endif %}

              <span title="Threads: {{ g.threadCount }}" onclick="threads()" class="badge navitem teal white-text" style="cursor: pointer;">T{{ g.threadCount }}</span>
            </li>
          </ul>

          <ul id="nav-mobile" class="sidenav">
            <br/>
            <li><a href="/">Console</a></li>
            <li><a href="/setup">talker setup</a></li>
          </ul>
          <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
        </div>
      </nav>
    </header>

    <main>
      <div class="container">
        {% block content %}
        {% endblock %}
      </div>
    </main>

    <footer class='page-footer grey darken-4'>
      <div class='footer-copyright'>
        <div class='container' style="margin-top:-18px;">
          Made in the
          <a class='bold white-text' href='http://materializecss.com'>Radio Shack Esperanza</a>
          <div class='right'>
            {{ g.ip }}
            on
            {{ g.day }}
          </div>
        </div>
      </div>
    </footer>

    <!--  Scripts-->
    <script src="/static/js/jquery-3.4.1.min.js"></script>
    <script src="/static/js/jquery-ui.js"></script>
    <script src="/static/js/materialize.min.js"></script>
    <script src="/static/js/socket.io.js"></script>
    <script src="/static/js/init.js"></script>
    {% block body_end %}
    {% endblock %}

      <script>
        $(document).ready(function(){ 
          $('#threads').modal();
          $('#settings').modal();
          window.setTimeout(logoGreen,100);
          $('.modal').modal({
            'onCloseEnd': function(){
              window.location.reload();
            }
          });
        });
        function logoGreen (){ 
          $(".brand-logo i").css("color","#009688");
          window.setTimeout(logoWhite,100);
        }
        function logoWhite (){ 
          $(".brand-logo i").css("color","#FFFFFF");
        }

        function edit_settings() {
          $.get("/settings",function(data){
            if (data.length>0) {
              $('#settings').html(data);
              $('#settings').modal('open');
            }
          });
        }

        function show_logs() {
        }

        function threads() {
          $.get("/threads",function(data){
            if (data.length > 0) {
              $('#threads').html(data);
              $('#threads').modal('open');
            }
          });
        }


      </script>
  </body>
</html>
