

<div class="modal-content">
  <div class="row">
    <div class="col s12 rel">
      <div class="clearfix">
        <h5 class="card-title left nopad">Application logs</h5>
        <a class="modal-close btn-pad right btn-floating waves-effect waves-light blue-grey"><i class="material-icons" style="font-size: 28px">close</i></a>
      </div>
      <code id="logs_p" class="feed">
        {{ g.logs }}
      </code>
      <script>
        txt = $("#logs_p").text()
        txt = ansi.ansi_to_html(txt)
        txt = txt.replace(/\n/g,"<br/>")
        //txt = txt.replace(/\s/g,"&nbsp;")
        $("#logs_p").html(txt)
      </script>
    </div>
  </div>
</div>

{{ g.error | safe }}

